---
global:
  scrape_interval: 15s


scrape_configs:

- job_name: "prometheus"
  scrape_interval: 15s
  static_configs:
    - targets: ["localhost:9090"]
- job_name: "telegraf"
  scrape_interval: 60s
  static_configs:
  - targets:
    - "telegraf-01:9004"
    - "telegraf-02:9005"

rule_files:
  - rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets:
          - alertmanager-01:9093
      timeout: 5s
